@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.text-pixel {
  font-family: 'Pixelify Sans', monospace;
  image-rendering: pixelated; 
}

@layer base {
  ::selection {
    background-color: #ffffff; 
    color: black;
  }
}

.image-pixel {
  image-rendering: pixelated;
}

@import 'tailwindcss';

